body {
    background-color: darkseagreen;
    font-family: sans-serif;
    text-align: left;
}

#container {
    background-color: antiquewhite;
    width: 1000px;
    min-height: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin: 5px auto;
}

header {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: darkgreen;
}

main {
    min-height: 400px;
}

footer {
    padding: 10px;
    font-family: monospace;
}