body{
    background-color: cadetblue;
    font-family: "Arial", sans-serif; 
}

#container{
    width: 900px;
    min-height: 600px;
    margin: 5px auto;
}

header,
footer,
aside,
article {
    padding: 15px;
}
header {
    
    font-family: "Lobster", cursive;
    font-size: 150%;
}

h2 {
    color: white;
    font-family: "Times New Roman", "Georgia", sans-serif;
    font-weight: 400;
}

aside{
    width: 25%;
    clear: both;
    float: right;
    border-left: 3px solid white;
    padding-left: 10px;
    min-height: 1000px;
    margin-left: 10px;
}
footer{
    clear: both;
    text-align: center;
    font-size: .7em;
}
hr{
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
}



